src/bin/
src/obj/
src/.vs/
src/Lampersky.UsefulParlotParsers/obj/
src/Lampersky.UsefulParlotParsers.Tests/obj/
src/Lampersky.UsefulParlotParsers/.vs/
src/Lampersky.UsefulParlotParsers.Tests/bin/
src/Lampersky.UsefulParlotParsers/bin/
